.cascading-right {
    margin-right: -50px;
  }
  
  @media (max-width: 700px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    

  }